/*
   	MESSAGE-INPUT
    Basic v.1.0 
    
    http://hoodev.com

*/

html, body {
	background-color: #faebd7;
}

.message-input-vertical {
  padding: 10px;
}

.message-input-horizontal {
  padding: 10px;
} 

.btn-group .btn-container-right {
  direction: rtl;

  * {
    direction: ltr;
  }
}